body {
  background-image: url(clouds.jpg/images);
}

input {
  text-align: center;
  padding: 10px;
}
h1 {
  color: navy;
}
h2 {
  color: navy;
  text-align: center;
  padding: 25px;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
.row1 {
  text-align: center;
}

.row {
  text-align: center;
}
.border {
  margin: 50px 50px 20px;
  padding: 50px;
  background: rgb(187, 202, 243);
  border-radius: 15px;
  border-color: lightblue;
}
.searchbtn {
  border-radius: 15px;
  padding: 5px 10px;
  background: rgb(187, 202, 243);
  margin: 30px 5px;
  border: 1px solid white;
}

.search {
  border-radius: 15px;
  border-color: lightblue;
  margin: 30px 5px;
  border: 1px solid white;
  padding: 5px 10px;

  background: rgb(187, 202, 243);
}
